.profile_box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile_box img {
    width: 100px;
    height: 100px;
}

.profile_box .profile_basic_and_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_box .profile_basic_and_links h1 {
    font-size: 30px;
    font-weight: 900;
}

.profile_box .profile_basic_and_links span {
    font-size: 15px;
    font-weight: 300;
}

.profile_box .profile_basic_and_links .social_links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile_box .profile_basic_and_links .social_links a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 700;

}

.profile_box .profile_basic_and_links .social_links a:hover {
    text-decoration: underline;
}
